body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: peru;
    color: white;
}

.walkway{
font-size: 30px;
position: absolute;
left: 200px;
top: 100px;
}

.walkway2{
    font-size: 30px;
    position: absolute;
    left: 200px;
    top: 120px;
    }

#bar{
    font-size: 18px;
    position: absolute;
    left: 530px;
    top: 30px;
}

.horizon{
    font-size: 12px;
    transform: rotate(90deg);
    position: absolute;
    top: -700px;
    left: 760px;
}

.waves{
    font-size: 12px;
    transform: rotate(90deg);
    position: absolute;
    top: -300px;
    left: 640px;
    animation-name: wave1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes wave1 {
    0% {
        top: -300px;
    }

    25% {
        top: -250px;
    }
    100% {
        top: -300px;
    }
}

.fish1{
    font-size: 12px;
    position: absolute;
    top: 400px;
    left: 100px;
}

.fish2{
    font-size: 12px;
    position: absolute;
    top: 350px;
    left: 300px;
}

.fish3{
    font-size: 12px;
    position: absolute;
    top: 350px;
    left: 1300px;
}

.map{
    position: absolute;
    left: 30px;
    top: 30px;
}

.secret{
    font-size: 8px;

}

#card{
    background-color: red;
    border: solid white 5px;
    font-size: 20px;
	display: none;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 15%;
	top: 20%; 
	border-radius: 10px;
}


a{
    text-decoration: none;
    color: white;
}